language: php

php:
  - 5.6
  - hhvm
  - nightly

sudo: false

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install --dev --no-interaction
  
script: phpunit
